body {
  background-color: honeydew;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Signika", sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 100px;
  border-bottom: 5px solid blue;
  margin: 0;
  font-size: 62px;
  font-weight: 700;
}

div {
  padding: 20px;
}

input {
  background-color: honeydew;
  width: 76px;
  margin-top: 16px;
  border: hidden;
  text-align: center;
}

input:focus {
    outline: none;
}

#data {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.size-up {
  font-size: 42px;
}

.result-and-dollar {
    font-weight: 700;
}

.symbols {
    font-size: 24px;
}